<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeWePe Project</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
        .header {
            width: 90vw;
            margin: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .header div {
            display: inline-flex;
            align-items: center;
        }
        a {
            margin: 5px;
        }
        .content-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px;
            gap: 25px;
        }
        .card {
            padding: 20px;
            width: 20vw;
            height: 35vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border-radius: 5px;
            overflow: hidden;
            background-color: antiquewhite;
            box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
        }
        .card div {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }
        .card img {
            margin: 0 auto;
            width: 200px;
            height: 160px;
            object-fit: contain;
        }
        .card h4 {
            color: grey;
            text-align: center;
        }
        .btn {
            margin: 0 20px;
            padding: 5px 0;
            width: 80px;
            text-align: center;
            text-decoration: none;
            border-radius: 4px;
            background-color: #fba608;
            color: #000000;
        }
        .btn-booking {
            color: white;
            background-color: rgb(22, 119, 2);
            margin: 5px;
        }
        .btn-delete {
            color: white;
            background-color: rgb(199, 30, 8);
            margin: 5px;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="margin:0px">
    <div style="display:flex; justify-content: space-between; background-color: black;">
        <h1 style="margin:10px; color: white;">DeWePe Ticket Online</h1>
        <ul style="display:flex; align-items: center; list-style: none; gap: 1.5rem; margin: 10px;">
            <li><a href="/" style="color:white; text-decoration:none; font-weight: bold;">HOME</a></li>
            <% if (result[1].Ticket !== null) {%>
                <li><a href="/tickets/change/<%= result[1].Ticket.id%>" style="color:white; text-decoration:none; font-weight: bold;">CHANGE SEAT</a></li>
                <% } %>
                <li><a href="/users/detail" style="color:white; text-decoration:none; font-weight: bold;">PROFILE</a></li>
            </ul>
        </div>
        <br>
        <div style="text-align: center; font-weight: bold;">
            <% if (notif === 'success') {%>
                <p style="color:green">Success to book the ticket</p>
                <% } else if (notif === 'cancel') {%>
                    <p style="color:green">Success to cancel the ticket</p>
                    <% } else if (notif === 'update') {%>
                        <p style="color:green">Success to update the ticket</p>
                        <% } %>
                    </div>
                    <% if(result[1].role === 'admin') { %>
                        <a href="/concerts/add"><button class="btn btn-primary" style="margin-left: 85px;">Add</button></a>
                    <% } %> 
                    <div class="content-container">
                        <% for(let i = 0; i < result[0].length; i++) {%>
                            <div class="card">
                                <h1 style="text-align:center"><%= result[0][i].guestStar%></h1>
                                <h4><%=result[0][i].performanceDate.toLocaleDateString('en-ID', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })%></h4>
                                <h4>Location: <%=result[0][i].location%></h4>
                                <h4>Total Audiance: <%=result[0][i].totalAudience%></h4>
                                <ul style="display:flex; align-items: center; list-style: none; gap: 0rem;">


            <% if( result[1].role === 'admin') { %>
                <li><a class="btn btn-booking" href="/concerts/edit/<%=result[0][i].id%>">Edit</a></li>
                <li><a class="btn btn-delete" href="/concerts/delete/<%=result[0][i].id%>">Delete</a></li>
            <% } else { %>
                <% if (result[1].Ticket === null) { %>
                    <li><a class="btn btn-booking" href="/tickets/booking/<%=result[0][i].id%>">Booking</a></li>
                    <% } %>
                    <% if (result[1].Ticket !== null && result[1].Ticket.ConcertId === result[0][i].id) { %>
                    <li><a class="btn btn-delete" href="/tickets/cancel/<%=result[0][i].id%>">Cancel</a></li>
                <% } %>
            <% } %> 


            
            </ul>
        </div>
    <% } %>
</div>

</body>
</html>